
// 뷰티파이 기본
html{overflow-y:auto;}

.v-application ol, .v-application ul{list-style:none;padding:0px;margin:0px;}
.v-btn:not(.v-btn--round).v-size--default{width:auto;}
.v-text-field--outlined>.v-input__control>.v-input__slot{
  min-height:26px;
}

.v-text-field--outlined>.v-input__control>.v-input__slot input{
  padding:0px;
}

// 커스텀

#wrap{
  color:#292929;
  height:100%;
  overflow-y:none;
}
#container{
  display:flex;
  height:100%;
  z-index:98;
  position:relative;
}
#contents{
  flex:1;
  background:#f2f2f2;
  padding:20px;
}

#acticle{
  height:100%;
  border:1px solid #e2e2e2;
  background:#fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow:hidden;

  .acticleTitle{
    border-bottom:1px solid #e2e2e2;
    padding:0 15px;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);

    h4{font-size:18px;font-weight:500;font-family:'SCDream'}

  }

  .acticleCont{
    padding:30px;
    height:100%;
  }

}


// 뷰티파이 페이징커스텀
.v-pagination__navigation{box-shadow: none;border:1px solid #c2c2c2;height:30px;;}
.v-pagination__item{box-shadow: none;border:1px solid #c2c2c2;min-width:30px;height:30px;font-size:14px}